# Ignore virtual environment files
baro_env/
testing_figs/
*.ipynb
.ipynb_checkpoints
baro-venv/
model_data/
*.sh
*.html
jupyter_cookie_secret
*.json
animations/
__pycache__/*
slurm*
model_run_files/*
analysis/*
*.pyc
.DS_Store
__pycache__
